* {
  color: #333;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.App {
  height: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.App-header, 
.App-footer {
  background-color: #282c34;
  height: 2em;
  max-height: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16pt;
  color: white;
}

.App-body {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.breweries {
  background: #eee;
  width: 35em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.breweries ol {
  width: 100%;
  max-width: 100%;
  
  padding: 0;
  margin: 0;

  list-style: none;
  flex: 1 0 auto;
  overflow: auto;
}

.breweries li {
  cursor: pointer;

  background: linear-gradient(#eee, #e6e6e6);
  border: 1px solid #eee;
  border-bottom: 1px solid #ccc;

  font-size: 10pt;

  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 1em;
  margin: 0;
}

.breweries li.selected,
.breweries li:hover {
  background: linear-gradient(#ea5, #d94);
  border: 1px solid #d94;
  border-top: 1px solid #ea5;
  border-bottom: 1px solid #c83;
}

.breweries li:active {
  background: linear-gradient(#d94, #ea5);
  border: 1px solid #d94;
  border-top: 1px solid #c83;
  border-bottom: 1px solid #ea5;
}

.breweries li .name {
  font-weight: bold;
  font-size: 12pt;
}

.breweries li .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breweries .message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
}

.search {
  border-bottom: 1px solid #ccc;

  height: 3em;
  max-height: 3em;
  padding: .5em;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.search select,
.search button,
.search input {
  height: 100%;
  flex: 1 0 auto;
}

.search input {
  margin: 0 .25em;
}

.map {
  width: 100%;
}
